@import '../../global-styles.scss';

.outer {
    height: 100%;
    // border-radius: 15px;
    display: grid;
    grid-template-rows: 10px 10px auto;
    background-color: $site-color3;

    .block-height {
        font-size: 10px;
    }

    .sender {
        font-size: 10px;
    }

    .message {
        margin-top: 3px;
    }
}