<div class="outer">
    <mat-form-field appearance="fill" class="channel-select">
        <mat-label>Channel selection</mat-label>
        <input type="text" aria-label="Number" matInput [(ngModel)]="selectedChannel" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let channel of availableChannels" [value]="channel">
                {{channel}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <input class="channel-color" [style.background]="selectedColor" [colorPicker]="selectedColor"
        (colorPickerChange)="selectedColor=$event" />
    <button class="channel-add" mat-fab color="primary" [matTooltipPosition]="'right'" matTooltip="Add to favorites"
        (click)="addAddressToStorage()">
        <mat-icon style="transform: scale(2);">favorite_border</mat-icon>
    </button>
    <button class="channel-add" mat-fab color="primary" [matTooltipPosition]="'right'"
        matTooltip="Add the selected channel" (click)="addChannel()">
        <mat-icon style="transform: scale(2);">blur_on</mat-icon>
    </button>
    <div (click)="originateChannel()" class="channel-originate mat-elevation-z4">
        <p class="channel-originate-add">+</p>
    </div>
</div>

<ng-template #originateChannelTemplate>
    <div class="originate-template">
        <form autocomplete="off">
            <mat-form-field appearance="fill">
                <mat-label>New channel name</mat-label>
                <input matInput name="channelname-originate-template" [(ngModel)]="getChannelOrigination.channelName">
            </mat-form-field>
        </form>
        <div class="originate-template-send">
            <button mat-fab color="primary" class="originate-template-send-btn"
                [disabled]="!getChannelOrigination.channelName || getChannelOrigination.isOriginated"
                [matTooltipPosition]="'right'" matTooltip="Originate a new channel!"
                (click)="chainInteractionService.originateChannel(getChannelOrigination)">
                <mat-icon style="transform: scale(2);">add_circle_outline</mat-icon>
            </button>
            <div [style.background-color]="getChannelOrigination.isOriginated ? 'green' : 'yellow'"
                matTooltip="{{ getChannelOrigination.isOriginated ? 'Instantiation status: Contract successfully originated!': 'Instantiation status: Contract not deployed, yet' }}"
                class="originate-template-success"></div>
        </div>
        <button class="originate-template-fav" mat-fab color="primary" [disabled]="!getChannelOrigination.isOriginated"
            [matTooltipPosition]="'right'" matTooltip="Add to favorites"
            (click)="persistenceService.addAddressToStorage(getChannelOrigination.channelAddress)">
            <mat-icon style="transform: scale(2);">favorite_border</mat-icon>
        </button>
    </div>
</ng-template>