@import '../../global-styles.scss';

.outer {    
    height: 90vh;
    width: 100vw;
    background-color: aqua;
    display: grid;
}

.board {
    height: 90%;
    width: 90%;
    justify-self: center;
    align-self: center;
    background-color: aqua;
}