@import '../../global-styles.scss';

.outer {    
    height: 90vh;
    width: 100vw;
    background-color: $site-color1;
    display: grid;
    z-index: -1;
}

.board {
    height: 90%;
    width: 90%;
    justify-self: center;
    align-self: center;
    background-color: $site-color1;
}