<div class="outer">
    <mat-form-field appearance="fill" class="rpc-select" (click)="rpcSelectionClicked = true">
        <mat-label *ngIf="isInitialized">Rpc node selection <span *ngIf="rpcSelectionClicked">
                {{ chainInteractionService.isValidUrl(chainInteractionService.getRpc) ? "[url valid]": "[url invalid]"
                }}
            </span>
        </mat-label>
        <input type="text" aria-label="Number" matInput [formControl]="rpcSelection"
            [(ngModel)]="chainInteractionService.setRpc" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let predefinedRpc of chainInteractionService.predefinedRpcs" [value]="predefinedRpc">
                {{predefinedRpc}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button class="connect-cred" mat-fab color="primary" [matTooltipPosition]="'right'"
        (click)="chainInteractionService.isAuthenticated ? chainInteractionService.authWallet(): chainInteractionService.deauthWallet()"
        matTooltip="{{chainInteractionService.isAuthenticated ? 'Disconnect your wallet' : 'Connect your wallet' }}">
        <img src="assets/beaconIcon.png">
    </button>
</div>