<div class="outer">
    <mat-form-field appearance="fill" class="rpc-select">
        <mat-label>Rpc node selection {{chainInteractionService.isValidUrl(chainInteractionService.getRpc) ? "[url
            valid]": "[url invalid]"}}
        </mat-label>
        <input type="text" aria-label="Number" matInput [(ngModel)]="chainInteractionService.setRpc"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let predefinedRpc of chainInteractionService.predefinedRpcs" [value]="predefinedRpc">
                {{predefinedRpc}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button class="connect-cred" mat-fab color="primary" [matTooltipPosition]="'right'"
        (click)="chainInteractionService.isAuthenticated ? chainInteractionService.authWallet(): chainInteractionService.deauthWallet()"
        matTooltip="{{chainInteractionService.isAuthenticated ? 'Disconnect your wallet' : 'Connect your wallet' }}">
        <img src="../../../assets/beaconIcon.png">
    </button>
    <button (click)="clickme()">

    </button>
</div>