@import '../../global-styles.scss';

.outer {
    height: 35vh;
    width: 30vw;
    position: absolute;  
    display: grid;
    grid-template-rows: 2.4vh auto;

    .topbar {
        @extend .full-size;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: burlywood;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        .topbar-header {
            align-self: center;
            padding-left: 2px;
        }

        .nav-buttons {
            @extend .unselectable;
            height: 100%;
            width: 25px;
        }

        .nav-buttons:hover {
            background-color: rgb(255, 81, 81);
            border-radius: 50px;
        }
    }
    
    .content {
        height: inherit;
        width: 100%;
        background-color: darkkhaki;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .messages {
            height: 75%;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            align-items: center;
            margin-top: 5px;
            scroll-behavior: smooth;

            .message-component {
                padding-bottom: 50px;
                height: 100%;
                width: 95%;
            }
        }
        
        .messages::-webkit-scrollbar-track
        { 
            border-radius: 10px;
            background-color: transparent;
        }
    
        .messages::-webkit-scrollbar
        {
            width: 12px;
            background-color: transparent;
        }
    
        .messages::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: limegreen;
        }

        .add-message {
            height: 25%;
            display: grid;
            grid-template-columns: 10% 10% auto 50px;
            grid-template-rows: 18% 82%;
            grid-template-areas: "autoscroll manualscroll . btn"
                                 "newmsg newmsg newmsg btn";
            justify-items: center;
            align-items: center;
            margin-left: 1%;

            .add-message-down {
                grid-area: manualscroll;
                margin-top: 6px;
            }

            .add-message-autoscroll {
                grid-area: autoscroll;
                align-self: baseline;
            }

            .add-message-container {
                grid-area: newmsg;
                width: 95%;
                height: 75%;
                background-color: aqua;
                border-radius: 10px;

                .add-message-write {
                    ::ng-deep .mat-form-field-underline {
                        display: none;
                    }
                }
            }

            .add-message-send {
                grid-area: btn;
            }
        } 
    }           
}
