<div class="outer" [ngStyle]="position">
    <div class="topbar">
        <span class="topbar-header">{{ info.channelName }}</span>
        <div>
            <mat-icon class="nav-buttons" (click)="layerUp()">vertical_align_top</mat-icon>
            <mat-icon class="nav-buttons" (click)="layerDown()">vertical_align_bottom</mat-icon>
            <mat-icon class="nav-buttons" (click)="closeChannel()">close</mat-icon>
            <mat-icon class="nav-buttons" channelMoveEvents>zoom_out_map</mat-icon>
        </div>
    </div>
    <div class="content">
        <div class="messages">
            <ng-container *ngFor="let msg of messages">
                <app-message class="message-component" [message]=msg></app-message>
            </ng-container>
        </div>
        <div class="add-message">
            <form class="add-message-container mat-elevation-z4">
                <mat-form-field appearance="fill" class="add-message-write">
                    <mat-label>Message</mat-label>
                    <input matInput maxlength="256" placeholder="..." [(ngModel)]="currentMessage"
                        name="add-message-input">
                </mat-form-field>
            </form>
            <button class="add-message-send" mat-mini-fab color="primary" [matTooltipPosition]="'right'"
                matTooltip="Send message" (click)="sendMessage()">
                <mat-icon style="transform: scale(1.2);">send</mat-icon>
            </button>
        </div>
    </div>
</div>