@import '../../global-styles.scss';

.outer {
    height: 12vh;
    width: 30vw;
    position: absolute;  
    display: grid;
    grid-template-rows: 2.4vh 10vh;

    .topbar {
        @extend .full-size;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        background-color: burlywood;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        .nav-buttons {
            @extend .unselectable;
            height: 100%;
            width: 25px;
        }

        .nav-buttons:hover {
            background-color: rgb(255, 81, 81);
            border-radius: 50px;
        }
    }
    
    .content {
        @extend .full-size;
        background-color: darkkhaki;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}
