@import '../../global-styles.scss';

.outer {
    height: 10vh;
    width: 100wh;

    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: $site-color5;

    .addChannel {
        height: auto; 
        width: auto; 
        max-width: 30px; 
        max-height: 30px;
    }    
}